<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knu.knuguide">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Google STT 사용을 위한 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.bus.BusInfoActivity"></activity>
        <activity android:name=".view.bus.BusActivity" />
        <activity android:name=".view.department.DepartmentActivity" />
        <activity android:name=".view.WebViewActivity" />
        <activity android:name=".view.search.SearchActivity" />
        <activity android:name=".view.announcement.FilterSearchTestActivity" />
        <activity android:name=".view.speech.SpeechTestActivity" />
        <activity android:name=".view.calendar.CalendarActivity" />
        <activity android:name=".view.announcement.AnnouncementActivity" />
        <activity android:name=".view.landing.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity" />
    </application>

</manifest>